<title>Newsletters Inc.</title>
<link rel="stylesheet" href="/app.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<h1>Newsletters Inc.</h1>
<h3>The Best Newsletter Startup So Far</h3>
<p>To start receiving our bloody amazing newsletters (<strong>along <%=data%> others</strong>), click here: </p>
<form method="POST" action="/register">
    <input type="text" name="email" class="form" placeholder="Your Email">
    <button>Subscribe Now!</button>
</form>